.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}


@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown
}

@-webkit-keyframes fadeOutDownBig {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
}

@keyframes fadeOutDownBig {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
}

.fadeOutDownBig {
    -webkit-animation-name: fadeOutDownBig;
    animation-name: fadeOutDownBig
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft
}




  @media (max-width: 576px) {

    .hero .hero-content.right .row .col-a, .hero .hero-content.right .row .col-b {
      padding-right: unset !important;
      padding-left: unset !important;
    }
    .slideh1 {
      font-size: 32px;
    }
    .hero p {

      font-size: 16px !important;
      text-align: center !important;
      line-height: 1.3 !important;
    }
  }





.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    left: 0;
    top: 0
}

.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slide-count {
    font-weight: 500;
    font-size: 18px;
    margin-top: 25px
}

.slide-count .total {
    margin-left: 7px
}
 @media (max-width: 639px){
  .hero {height: 280px; } 
   .hero {height: auto;}
}
  @media (min-width: 1024px) {
    .hero {height: 690px; }
  }
  .hero .hero-carousel {
    height: 480px;
    background-color: #0d5a54; }
    @media (max-width: 639px) {
      .hero .hero-carousel {
        height: 280px; } }
    .hero .hero-carousel .divider {
      display: none; }
    .hero .hero-carousel .slick-list, .hero .hero-carousel .slick-slide, .hero .hero-carousel .slick-track {
      height: 100%; }
    @media (min-width: 1024px) {
      .hero .hero-carousel {
        height: 690px; }
        .hero .hero-carousel .divider {
          width: 1px;
          height: 393px;
          display: block;
          position: relative; }
          .hero .hero-carousel .divider:before {
            content: "";
            width: 1px;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #19bcb9;
            display: block; } }
  .hero .hero-content {
    height: 100%;
    position: relative; }

    .hero .hero-content .row {
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media (max-width: 1023px) {
        .hero .hero-content .row {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          .hero .hero-content .row .col-a, .hero .hero-content .row .col-b {
            text-align: left;
            padding-left: 20px;
            padding-right: 10px; } }
    @media (max-width: 1023px) and (min-width: 640px) {
      .hero .hero-content .row .col-a, .hero .hero-content .row .col-b {
        padding-left: 38px;
        padding-right: 0; } }
      .hero .hero-content .row .col-a, .hero .hero-content .row .col-b {
        opacity: 0; }
      @media (min-width: 640px) {
        .hero-content.left .col-a h1 {text-align: right;}
      }
      @media (min-width: 1024px) {
         .hero .hero-content .row .col-a, .hero .hero-content .row .col-b {
          opacity: 0;
          width: 25%;
          max-width: 25%;
         }
        .hero .hero-content .row {
          height: 100%; }
          .hero .hero-content .row .col-a {
            padding-right: 38px;
            text-align: right; }
          .hero .hero-content .row .col-b {
            padding-left: 38px;
            text-align: left; } }
    @media (max-width: 1023px) {
       .hero .hero-content .row .col-a, .hero .hero-content .row .col-b {
        opacity: 1 !important;
       }
      .hero .hero-content.right .row {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .hero .hero-content.right .row .col-a, .hero .hero-content.right .row .col-b {
          text-align: right;
          padding-left: 10px;
          padding-right: 20px; } }
    @media (max-width: 1023px) and (min-width: 640px) {
      .hero .hero-content.right .row .col-a, .hero .hero-content.right .row .col-b {
        padding-left: 0;
        padding-right: 38px; } }
    @media (min-width: 1024px) {
      .hero .hero-content.right .row {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; } }
    .hero .hero-content.right .row .col-a {
      padding-right: 0;
      padding-left: 38px;
      text-align: left;
      margin-left: 5px; }
    .hero .hero-content.right .row .col-b {
      padding-right: 38px;
      padding-left: 0;
      text-align: right;
      margin-right: 5px; }
  .slideh1 {display: block; font-family: "Playfair Display", serif; margin: 0 0 25px;}
  .hero .hero-content-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover; }
  .hero h1, .slideh1 {
    color: #fff;
    margin-bottom: 0; }
    .hero h1:after,  .slideh1:after {
      display: none; }
    @media (max-width: 1023px) {

      .hero h1, .slideh1 {
        margin-bottom: 20px; } }
    @media (min-width: 1024px) {
      .hero h1, .slideh1 {
        font-size: 50px;
        line-height: 1.5;
        letter-spacing: -2.5px; } }
  .hero p {
    text-shadow: 2px 1px 10px rgba(0,0,0,0.3) !important;
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
    line-height: 36px; }
    @media (min-width: 1024px) {
      .hero p {font-size: 20px; line-height: 40px; }
    }
 @media (max-width: 1024px) {
      .hero p {font-size: 20px; line-height: 40px; }
      .hero .right h1 {padding-right: 38px; text-align: right;}
    }

.hero-banner {
  background-color: #262f2f;
  color: #19bcb9; }
  .hero-banner .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 639px) {
      .hero-banner .row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .hero-banner .row {
        padding-left: 50px;
        padding-right: 40px; } }
    @media (max-width: 1023px) {
      .hero-banner .row {
        padding-top: 15px;
        padding-bottom: 18px; } }
    @media (min-width: 1024px) {
      .hero-banner .row {
        height: 100%; }
        .hero-banner .row:before, .hero-banner .row:after {
          display: none; } }
  .hero-banner p {
    margin-bottom: 0;
    text-align: center;
    font-size: 16px; }
    @media (min-width: 640px) {
      .hero-banner p {
        text-align: right; } }
    @media (max-width: 1023px) {
      .hero-banner p {
        line-height: 1.25; } }
    @media (min-width: 1024px) {
      .hero-banner p {
        text-align: left;
        font-size: 18px; } }
  @media (min-width: 1024px) {
    .hero-banner {
      height: 80px; } }
  .hero-banner a {
    white-space: nowrap;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 21px;
    color: #19bcb9; }
    @media (max-width: 639px) {
      .hero-banner a {
        margin-top: 20px; } }
    @media (min-width: 640px) {
      .hero-banner a {
        margin-left: 40px; } }
    .hero-banner a .fa {
      margin-left: 18px; }
.hero-banner-posts.slick-slider {
  width: 100%;
}
.hero-banner-posts-single-inner {
  display: block;
  width: 100%;
}      
@media (min-width: 1023px) {

.hero-carousel .slick-dots {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  list-style: none; }
  @media (max-width: 1023px) {
    .hero-carousel .slick-dots {
      display: none !important; } }
  .hero-carousel .slick-dots:before {
    content: "";
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    background-color: rgba(25, 188, 185, 0.3);
    z-index: -1; }
  .hero-carousel .slick-dots li {
    display: block;
    }
    .hero-carousel .slick-dots li button {
      font-size: 0;
      background-color: var(--main-color-one);
      width: 15px;
      height: 14px;
      border-radius: 50%;
      display: block;
      border: none;
      padding: 0;
      margin: 0 0 0 20px;
      }
    .hero-carousel .slick-dots li.slick-active button {
      background-color: #19bcb9; }

.hero-carousel .slick-active.hero-content .divider:before {
  -webkit-animation: 1s linedraw;
  animation: 1s linedraw;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.hero-carousel .slick-active.hero-content.left .col-a {
  -webkit-animation: 0.5s fadeInLeft;
  animation: 0.5s fadeInLeft;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.hero-carousel .slick-active.hero-content.left .col-b {
  -webkit-animation: 0.5s fadeInLeft;
  animation: 0.5s fadeInLeft;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@media (min-width: 1024px) {
  .hero-carousel .slick-active.hero-content.left .col-a {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
  .hero-carousel .slick-active.hero-content.left .col-b {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 3s;
    animation-delay: 3s; } }

.hero-carousel .slick-active.hero-content.right .col-a {
  -webkit-animation: 0.5s fadeInRight;
  animation: 0.5s fadeInRight;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.hero-carousel .slick-active.hero-content.right .col-b {
  -webkit-animation: 0.5s fadeInRight;
  animation: 0.5s fadeInRight;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@media (min-width: 1024px) {
  .hero-carousel .slick-active.hero-content.right .col-a {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
  .hero-carousel .slick-active.hero-content.right .col-b {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-delay: 3s;
    animation-delay: 3s; } }

.animate-hero .hero-content .divider:before {
  -webkit-animation: 1s linedraw;
  animation: 1s linedraw;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animate-hero .hero-content.left .col-a {
  -webkit-animation: 0.5s fadeInLeft;
  animation: 0.5s fadeInLeft;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animate-hero .hero-content.left .col-b {
  -webkit-animation: 0.5s fadeInLeft;
  animation: 0.5s fadeInLeft;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@media (min-width: 1024px) {
  .animate-hero .hero-content.left .col-a {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
  .animate-hero .hero-content.left .col-b {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 3s;
    animation-delay: 3s; } }

.animate-hero .hero-content.right .col-a {
  -webkit-animation: 0.5s fadeInRight;
  animation: 0.5s fadeInRight;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animate-hero .hero-content.right .col-b {
  -webkit-animation: 0.5s fadeInRight;
  animation: 0.5s fadeInRight;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@media (min-width: 1024px) {
  .animate-hero .hero-content.right .col-a {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }
  .animate-hero .hero-content.right .col-b {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; } }
@media (min-width: 1024px) and (max-width: 1080px) {
  .hero .hero-content .row .col-a {
            padding-right: 38px;
            text-align: right;
            margin-right: 25px; }
}
@-webkit-keyframes linedraw {
  0% {
    height: 0; }
  100% {
    height: 393px; } }

@keyframes linedraw {
  0% {
    height: 0; }
  100% {
    height: 393px; } }


















@media(min-width:992px) {
    .slider,
    .slide {
        height: 100vh
    }
}

.slide {
    position: relative
}

.slide .slide__img {
    width: 100%;
    height: auto;
    overflow: hidden
}

@media(min-width:992px) {
    .slide .slide__img {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.slide .slide__img img {
    max-width: 100%;
    height: 100%;
    opacity: 1!important;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    transition: all 1s ease
}

.slide .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.slide .slide__content--headings {
    text-align: center;
    color: #fff
}

.slide .slide__content--headings h2 {
    color: #fff;
    font-size: 48px;
    text-align: left;
    margin: 10px 0;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, .3)
}

.slide .slide__content--headings .animated {
    transition: all .5s ease
}

.slider [data-animation-in] {
    opacity: 0;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    transition: opacity .5s ease .3s
}

.slick-dotted .slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: flex!important;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 50%;
    left: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.slick-dots li {
    position: relative;
    display: block;
    margin: 12px 18px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    border: 0;
    display: block;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all .3s ease
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none
}

.simple-dots .slick-dots li {
    width: 14px;
    height: 14px
}

.simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: #fff;
    opacity: .25;
    width: 14px;
    height: 14px
}

.simple-dots .slick-dots li button:hover,
.simple-dots .slick-dots li button:focus {
    opacity: 1
}

.simple-dots .slick-dots li.slick-active button {
    color: #fff;
    opacity: .75
}

.stick-dots .slick-dots li button {
    position: relative;
    background-color: #fff;
    opacity: 1;
    width: 14px;
    height: 14px;
    padding: 0;
    border-radius: 100%
}

.stick-dots .slick-dots li button:hover,
.stick-dots .slick-dots li button:focus {
    opacity: 1
}

.stick-dots .slick-dots li.slick-active button {
    background-color: var(--main-color-one);
    opacity: .75
}

.stick-dots .slick-dots li.slick-active button:hover,
.stick-dots .slick-dots li.slick-active button:focus {
    opacity: 1
}
@media(max-width:767px) {
    ul.slick-dots {
        display: none!important
    }
}

